.playa_delivery_style{
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
}

.plate{
    position: relative;
    width: 1170px;
    height: auto;
    /*background-color: red;*/
}
