.logsignin_button_style{
    width: 260px;
    height: 34px;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    left: 18px;
    bottom: 42px;
}